Options +FollowSymlinks
IndexIgnore */*
RewriteEngine On
AddDefaultCharset UTF-8
php_flag default_charset utf-8

RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin\/?(.*) /backend/web/$1

RewriteCond %{REQUEST_URI} !^/(frontend/web|backend/web|admin)
RewriteRule (.*) /frontend/web/$1